
:root{
    --primary-green:#bef264;
    --secondary-green:#3f6212;
    --primary-bg1: #bef264;
    --primary-bg2: #84cc16;
    --primary-teal:#d9f99d;
}

body{
    box-sizing: border-box;
    background-color: var(--primary-bg1);
    margin: 0 0;
    width: 100vw;
}

.navigation-container{
    background-color: var(--primary-bg2);
    margin-bottom: 2rem;
    padding: 1rem;
}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    border-color: var(--primary-teal);

}

.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color:var(--primary-teal);
    margin: auto;
    width: 60vw;
    text-align: center;
    border: 2px solid var(--secondary-green);
    border-radius: 2rem;
    padding: 2rem;
}

.footer{
    margin-top: 2rem;
    background-color: var(--primary-bg2);
    width: auto;
    padding:1rem;
}

.footer .link{
    color: var(--secondary-green);
    text-decoration: none;
}

.footer-header{
    font-weight: bolder;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0; 
}

.footer img{
    width: 2rem;
    height: 2rem;
}